mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 42px;
}

.server-error {
  margin: 8px 0;
}

input {
  height: 2em;
  vertical-align: top;
  padding-top: 1.2rem;
}

div.mat-form-field-wrapper {
  padding-bottom: 1.15em;
}
